---
export interface Props {
  imageUrl: string;
  title: string;
  link: string;
}
const { imageUrl, title, link } = Astro.props;
---

<div class="bg-white p-6 2xl:p-10 rounded-lg shadow-lg text-center">
  <div
    class="w-16 h-16 2xl:w-24 2xl:h-24 bg-gray-200 rounded-full mx-auto mb-4 overflow-hidden flex items-center justify-center"
  >
    <img src={imageUrl} alt={title} class="w-full h-full object-cover" />
  </div>
  <p class="font-semibold text-gray-800 mb-1 2xl:text-xl">{title}</p>
  <p class="text-sm 2xl:text-lg text-gray-500"><a href={link}>詳細⇒</a></p>
</div>
