---
import Layout from "../layouts/Layout.astro";
import Pagetitle from "../components/page/pagetitle.astro";
import Achivecard from "../components/item/achivecard.astro";
---

<Layout title="実績" | NC - Nekko Cloud>
  <Pagetitle title="実績" />

  <section class="py-16 bg-white">
    <div class="w-full px-8 2xl:px-24 mx-auto"></div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- 実績カード -->
      <Achivecard
        imageUrl="../../assets/nekko_cloud.logo-1.png"
        title="Nekko Cloud ロゴ完成"
        description="Nekko Cloudのロゴが完成しました。"
        date="2024年6月"
        link="https://nekko-cloud.com/posts/first-logo/"
      />
      <Achivecard
        imageUrl="../../assets/nekko_cloud.logo-1.png"
        title="Nekko Cloud ロゴ完成"
        description="Nekko Cloudのロゴが完成しました。"
        date="2024年6月"
        link="https://nekko-cloud.com/posts/first-logo/"
      />
    </div>
  </section>
</Layout>
