---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/nekko_cloud.icon.png';
import Informationcard from '../components/item/InformationCard.astro';
import Mediacard from '../components/item/MediaCard.astro';
import nekko from '/public/nekko-logo.png';
---

<Layout title="NC - Network Computing">
  <!-- ヒーローセクション -->
  <section class="bg-white py-16">
    <div class="w-full px-8 2xl:px-24 mx-auto">
      <div class="w-[90%] mx-auto">
        <div class="w-full">
          <div
            class="bg-white p-12 rounded-lg shadow-lg flex flex-col lg:flex-row items-center justify-center lg:justify-between"
          >
            <Image
              src={logo}
              alt="Nekko Cloud Logo"
              width="250"
              height="300"
              class="flex-shrink-0"
            />
            <p
              class="text-gray-600 font-bold text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl text-center lg:text-left leading-tight"
            >
              <span class="whitespace-nowrap">みんなのアイデアを</span><br />
              <span class="whitespace-nowrap">実現できる</span><br />
              <span class="whitespace-nowrap">プラットフォームを</span><br />
              <span class="whitespace-nowrap">提供する</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- NCとはセクション -->
  <section class="bg-teal-400 pb-32 pt-8">
    <div class="w-full px-8 2xl:px-24 mx-auto">
      <h2 class="text-center text-black text-3xl 2xl:text-5xl font-bold mb-12">
        NCとは
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <Informationcard
          title="Nekko Cloudを作る"
          description="構想・設計・開発・運用のすべてを行う"
        />
        <Informationcard
          title="Nekko Cloudを利用する"
          description="Nekko Cloudを作るだけでなく、<br />実際に利用することで、<br/>現状の課題を見つけて次の開発につなげる"
        />
        <Informationcard
          title="Nekko Cloudを通して得た知見や成果物を発信・共有する"
          description="本プロジェクトの知名度向上や、オープンソースへの貢献"
        />
      </div>
    </div>
  </section>

  <!-- Nekko Cloudテクノロジーセクション -->
  <section class="bg-teal-500 pb-32 pt-8">
    <div class="w-full px-8 2xl:px-24 mx-auto">
      <h2 class="text-center text-black text-3xl 2xl:text-5xl font-bold mb-12">
        Nekko Cloudで使用中の技術
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <Informationcard
          title="Kubernetes"
          description="コンテナオーケストレーション"
        />
        <Informationcard title="Proxmox VE" description="VM乱立できるOS" />
      </div>
    </div>
  </section>

  <!-- メディアセクション -->
  <section class="bg-teal-600 pb-32 pt-8">
    <div class="w-full px-8 2xl:px-24 mx-auto">
      <h2 class="text-center text-black text-3xl 2xl:text-5xl font-bold mb-12">
        メディア
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 2xl:gap-12">
        <!-- Twitter カード1 -->
        <Mediacard imageUrl={nekko} title="X" link="https://x.com/nekko_lab" />
        <Mediacard
          imageUrl={nekko}
          title="qiita"
          link="https://qiita.com/organizations/nekko_lab"
        />

        <Mediacard
          imageUrl={nekko}
          title="Github"
          link="https://github.com/nekko-lab/nc-recruit"
        />
      </div>
    </div>
  </section>
</Layout>
