---
import Whitemember from "../components/item/whitemember.astro";
import Graymember from "../components/item/graymember.astro";
import Pagetitle from "../components/page/pagetitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="メンバー | NC - Nekko Cloud">
  <Pagetitle title="メンバー" />
  <section class="py-16 min-h-screen">
    <div class="max-w-6xl mx-auto px-4 space-y-16">
      <Whitemember
        imageUrl=""
        person="名前:わし(53歳)"
        position="役職:ぶちょう"
        role="フロントエンド・バックエンド・インフラ・森羅万象担当大臣"
        snsLinks={[
          {
            platform: "X",
            url: "https://x.com/Erica_kangeki",
            username: "@Erica_kangeki",
          },
          { platform: "instagram", url: "", username: "misoparco" },
          { platform: "GitHub", url: "", username: "miranop" },
        ]}
      />

      <Graymember
        imageUrl=""
        person="名前:ゆうさく(29歳)"
        position="役職:メンバー"
        role="バックエンド・データベース設計 注意喚起担当"
        snsLinks={[
          { platform: "X", url: "", username: "@taro_dev" },
          { platform: "GitHub", url: "", username: "taro123" },
        ]}
      />

      <Whitemember
        imageUrl=""
        person="名前:田所浩二(24歳)"
        position="役職:ぶちょう"
        role="広報,東京リージョン担当"
        snsLinks={[
          { platform: "X", url: "", username: "@beast_yaju" },
          { platform: "instagram", url: "", username: "tonosky" },
          { platform: "GitHub", url: "", username: "korotado" },
        ]}
      />
    </div>
  </section>
</Layout>
