---
// Footer.astro
---

<footer class="bg-teal-900 text-white py-16">
  <div class="max-w-6xl mx-auto px-16 text-center">
    <p>&copy;2025 Nekko Cloud team. All rights reserved.</p>
  </div>
</footer>
